/*theme 1 color*/

.calculator-theme-1 .calc-body {
  background: #e6e6e6;
  border: 1px solid #d5d5d5;
}
.calculator-theme-1 button.calc-opt.calc-button.equal {
  background: #e19113;
  color: #fff;
}
.calculator-theme-1 #calc-operation {
  color: #727b86;
}
.calculator-theme-1 #calc-typed {
  color: #555;
  padding-right: 0.5rem;
}
.calculator-theme-1 .calc-button-row button.calc-opt {
  color: #efe8e8a6;
  background-color: #170a0a75;
}

.calculator-theme-1 .calc-button-row button:hover {
  background: rgb(17 138 139 / 57%);
  color: #fff;
}
.calculator-theme-1 button.calc-opt.calc-button.equal:hover {
  background: #c8800f;
}
.calculator-theme-1 .temp-result {
  color: #706d6d;
  padding-left: 0.5rem;
}

/* .calculator-theme-1 .calc-button-row button.calc-ac, .calculator-theme-1 button.calc-button.last-entity-clear {
  color: #ffffffc4;
  background: #e19113;
} */
.calculator-theme-1 .calc-button-row button.calc-ac:hover,
.calculator-theme-1 button.calc-button.last-entity-clear:hover {
  color: #fff;
}
.calculator-theme-1 .calc-screen {
  background: #ececec;
}
.calculator-theme-1 .calc-button-row button {
  background: rgb(7 6 6 / 41%);
  color: #301f1a80;
  border-color: #10030338;
  border-radius: 20px;
}
/*theme 2 color*/

.calculator-theme-2 .calc-body {
  background: #51e2f5;
  border: 1px solid #d5d5d5;
}
.calculator-theme-2 button.calc-opt.calc-button.equal {
  background: #edf756;
  color: #fff;
}
.calc-button .memory-store {
  background: #e19113 !important;
  color: #ffffffc2 !important;
}
.calculator-theme-2 #calc-operation {
  color: #a28089;
}
.calculator-theme-2 #calc-typed {
  color: #a28089;
}
.calculator-theme-2 .calc-button-row button.calc-opt {
  color: #ffbc56;
}
.calculator-theme-2 .calc-button-row button:hover {
  background: #929292;
  color: #fff;
}
.calculator-theme-2 button.calc-opt.calc-button.equal:hover {
  background: #d7e050;
}
.calculator-theme-2 .temp-result {
  color: #a28089;
}
.calculator-theme-2 .calc-button-row button.calc-ac,
.calculator-theme-2 button.calc-button.last-entity-clear {
  color: #ffa8b6;
}
.calculator-theme-2 .calc-button-row button.calc-ac:hover,
.calculator-theme-2 button.calc-button.last-entity-clear:hover {
  color: #fff;
}
.calculator-theme-2 .calc-screen {
  background: #9df9ef;
}
.calculator-theme-2 .calc-button-row button {
  background: rgba(255, 255, 255, 0.8);
  color: #a28089;
  border-color: #51e2f5;
}
/*theme 3 color*/

.calculator-theme-3 .calc-body {
  background: #a0d2eb;
  border: 1px solid #d5d5d5;
}
.calculator-theme-3 button.calc-opt.calc-button.equal {
  background: #b8a6d9;
  color: #fff;
}
.calculator-theme-3 #calc-operation {
  color: #a28089;
}
.calculator-theme-3 #calc-typed {
  color: #a28089;
}
.calculator-theme-3 .calc-button-row button.calc-opt {
  color: #8458b3ab;
}
.calculator-theme-3 .calc-button-row button:hover {
  background: #929292;
  color: #fff;
}
.calculator-theme-3 button.calc-opt.calc-button.equal:hover {
  background: #a796c5;
}
.calculator-theme-3 .temp-result {
  color: #a28089;
}
.calculator-theme-3 .calc-button-row button.calc-ac,
.calculator-theme-3 button.calc-button.last-entity-clear {
  color: #ffa8b6;
}
.calculator-theme-3 .calc-button-row button.calc-ac:hover,
.calculator-theme-3 button.calc-button.last-entity-clear:hover {
  color: #fff;
}
.calculator-theme-3 .calc-screen {
  background: #e5eaf5;
}
.calculator-theme-3 .calc-button-row button {
  background: rgba(255, 255, 255, 0.8);
  color: #a28089;
  border-color: #a0d2eb;
}
/*theme 4 color*/

.calculator-theme-4 .calc-body {
  background: #ff1d58;
  border: 1px solid #d5d5d5;
}
.calculator-theme-4 button.calc-opt.calc-button.equal {
  background: #f75990;
  color: #fff;
}
.calculator-theme-4 #calc-operation {
  color: #fff;
}
.calculator-theme-4 #calc-typed {
  color: #fff;
}
.calculator-theme-4 .calc-button-row button.calc-opt {
  color: #f75990;
}
.calculator-theme-4 .calc-button-row button:hover {
  background: #f75990;
  color: #fff;
}
.calculator-theme-4 button.calc-opt.calc-button.equal:hover {
  background: #db487b;
  color: #fff;
}
.calculator-theme-4 .temp-result {
  color: #fff;
}
.calculator-theme-4 .calc-button-row button.calc-ac,
.calculator-theme-4 button.calc-button.last-entity-clear {
  color: #ffa8b6;
}
.calculator-theme-4 .calc-button-row button.calc-ac:hover,
.calculator-theme-4 button.calc-button.last-entity-clear:hover {
  color: #fff;
}
.calculator-theme-4 .calc-screen {
  background: #f75990;
}
.calculator-theme-4 .calc-button-row button {
  background: #ffffff;
  color: #a28089;
  border-color: #ff1d58;
}
/*theme 5 color*/

.calculator-theme-5 .calc-body {
  background: #fbfbfb;
  border: 1px solid #d5d5d5;
}
/* .calculator-theme-5 button.calc-opt.calc-button.equal {
  background: #FDBA3D;
  color: #fff
} */
.calculator-theme-5 #calc-operation {
  color: #fff;
}
.calculator-theme-5 #calc-typed {
  color: #fff;
}
.calculator-theme-5 .calc-button-row button.calc-opt {
  color: #fdba3d;
}
.calculator-theme-5 .calc-button-row button:hover {
  background: #e1d5e9;
  color: #fff;
}
.calculator-theme-5 button.calc-opt.calc-button.equal:hover {
  background: #e9aa35;
  color: #fff;
}
.calculator-theme-5 .calc-button-row button {
  box-shadow: rgb(0 0 0 / 4%) 0px 3px 5px;
}
.calculator-theme-5 .temp-result {
  color: #fff;
}
.calculator-theme-5 .calc-button-row button.calc-ac,
.calculator-theme-5 button.calc-button.last-entity-clear {
  color: #fdba3d;
}
.calculator-theme-5 .calc-button-row button.calc-ac:hover,
.calculator-theme-5 button.calc-button.last-entity-clear:hover {
  color: #fff;
}
.calculator-theme-5 .calc-screen {
  background: #a27ef4;
}
.calculator-theme-5 .calc-button-row button {
  background: #ffffff;
  color: #9c9c9c;
  border-color: #fbfbfb;
}
/*theme 6 color*/

.calculator-theme-6 .calc-body {
  background: #292d36;
  border: 1px solid #d5d5d5;
}
.calculator-theme-6 button.calc-opt.calc-button.equal {
  background: #309f8f;
  color: #fff;
}
.calculator-theme-6 #calc-operation {
  color: #fff;
}
.calculator-theme-6 #calc-typed {
  color: #fff;
}
.calculator-theme-6 .calc-button-row button.calc-opt {
  color: #d25f60;
}
.calculator-theme-6 .calc-button-row button:hover {
  background: #22252d;
  color: #fff;
}
.calculator-theme-6 button.calc-opt.calc-button.equal:hover {
  background: #227166;
  color: #fff;
}
.calculator-theme-6 .temp-result {
  color: #fff;
}
.calculator-theme-1 .calc-button-row button {
  background: rgb(17 138 139 / 39%);
  color: #335963ad;
  border-color: #e6e6e6;
}
.calculator-theme-6 .calc-button-row button.calc-ac,
.calculator-theme-6 button.calc-button.last-entity-clear {
  color: #309f8f;
}
.calculator-theme-6 .calc-button-row button.calc-ac:hover,
.calculator-theme-6 button.calc-button.last-entity-clear:hover {
  color: #fff;
}
.calculator-theme-6 .calc-screen {
  background: #22252d;
}
.calculator-theme-6 .calc-button-row button {
  background: #22252d;
  color: #c5c3c3;
  border-color: #292d36;
}
/*theme 7 color*/

.calculator-theme-7 .calc-screen {
  margin: 10px;
}
.calculator-theme-7 .calc-body {
  background: #4f5455;
  border: 1px solid #d5d5d5;
  border-radius: 10px;
}
.calculator-theme-7 button.calc-opt.calc-button.equal {
  background: #fdba3d;
  color: #fff;
}
.calculator-theme-7 #calc-operation {
  color: #939393;
}
.calculator-theme-7 #calc-typed {
  color: #4b4f50;
}
.calculator-theme-7 .calc-button-row button.calc-opt {
  color: #ffffff;
}
.calculator-theme-7 .calc-button-row button:hover {
  background: #434748;
  color: #e1d5e9;
}
.calculator-theme-7 button.calc-opt.calc-button.equal:hover {
  background: #e9aa35;
  color: #fff;
}
.calculator-theme-7 .calc-button-row button {
  box-shadow: rgb(0 0 0 / 4%) 0px 3px 5px;
}
.calculator-theme-7 .temp-result {
  color: #939393;
}
.calculator-theme-7 .calc-button-row button.calc-ac,
.calculator-theme-7 button.calc-button.last-entity-clear {
  color: #fdba3d;
}
.calculator-theme-7 .calc-button-row button.calc-ac:hover,
.calculator-theme-7 button.calc-button.last-entity-clear:hover {
  color: #fff;
}
.calculator-theme-7 .calc-screen {
  background: #eaedef;
}
.calculator-theme-7 .calc-button-row button {
  background: #4b4f50;
  color: #9c9c9c;
  border-color: #4f5455;
}
/*theme 8 color*/

.calculator-theme-8 .calc-button-row {
  padding: 10px;
}
.calculator-theme-8 .calc-body {
  padding: 0;
}
.calculator-theme-8 .calc-button-row button {
  border-width: 0;
}
.calculator-theme-8 .calc-body {
  background: #f7f7f7;
  border: 1px solid #d5d5d5;
  border-radius: 10px;
}
.calculator-theme-8 button.calc-opt.calc-button.equal {
  background: #309f8f;
  color: #fff;
}
.calculator-theme-8 #calc-operation {
  color: #9c9c9c;
}
.calculator-theme-8 #calc-typed {
  color: #309f8f;
}
.calculator-theme-8 .calc-button-row button.calc-opt {
  color: #d25f60;
}
.calculator-theme-8 .calc-button-row button:hover {
  background: #d25f60;
  color: #fff;
}
.calculator-theme-8 button.calc-opt.calc-button.equal:hover {
  background: #227166;
  color: #fff;
}
.calculator-theme-8 .temp-result {
  color: #9c9c9c;
}
.calculator-theme-8 .calc-button-row button.calc-ac,
.calculator-theme-8 button.calc-button.last-entity-clear {
  color: #309f8f;
}
.calculator-theme-8 .calc-button-row button.calc-ac:hover,
.calculator-theme-8 button.calc-button.last-entity-clear:hover {
  color: #fff;
}
.calculator-theme-8 .calc-screen {
  background: #fff;
  border-radius: 10px;
}
.calculator-theme-8 .calc-button-row button {
  background: #f7f7f7;
  color: #a5a6a9;
  border-color: #ffffff;
}
/*theme 9 color*/

.calculator-theme-9 .calc-body {
  background: #f7f6f7;
  border: 1px solid #d5d5d5;
  border-radius: 10px;
}
.calculator-theme-9 button.calc-opt.calc-button.equal {
  background: #dd558d;
  color: #fff;
}
.calculator-theme-9 #calc-operation {
  color: #fff;
}
.calculator-theme-9 #calc-typed {
  color: #fff;
}
.calculator-theme-9 .calc-button-row button.calc-opt {
  color: #7b75b0;
}
.calculator-theme-9 .calc-button-row button:hover {
  background: #453f72;
  color: #fff;
}
.calculator-theme-9 button.calc-opt.calc-button.equal:hover {
  background: #b04470;
  color: #fff;
}
.calculator-theme-9 .temp-result {
  color: #fff;
}
.calculator-theme-9 .calc-button-row button.calc-ac,
.calculator-theme-9 button.calc-button.last-entity-clear {
  color: #dd558d;
}
.calculator-theme-9 .calc-button-row button.calc-ac:hover,
.calculator-theme-9 button.calc-button.last-entity-clear:hover {
  color: #fff;
}
.calculator-theme-9 .calc-screen {
  background: #a89ddf;
  border-radius: 10px;
}
.calculator-theme-9 .calc-button-row button {
  background: #f7f7f7;
  color: #a5a6a9;
  border-color: #ffffff;
}
/*theme 10 color*/

.calculator-theme-10 .calc-body {
  background: #fbfbfb;
  border: 3px solid #d5d5d5;
  border-radius: 10px;
}
.calculator-theme-10 button.calc-opt.calc-button.equal {
  background: #fdba3d;
  color: #fff;
}
.calculator-theme-10 #calc-operation {
  color: #fff;
}
.calculator-theme-10 #calc-typed {
  color: #fff;
}
.calculator-theme-10 .calc-button-row button.calc-opt {
  color: #fdba3d;
}
.calculator-theme-10 .calc-button-row button:hover {
  background: #676767;
  color: #fff;
}
.calculator-theme-10 button.calc-opt.calc-button.equal:hover {
  background: #e9aa35;
  color: #fff;
}
.calculator-theme-10 .calc-button-row button {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
.calculator-theme-10 .temp-result {
  color: #fff;
}
.calculator-theme-10 .calc-button-row button.calc-ac,
.calculator-theme-10 button.calc-button.last-entity-clear {
  color: #fdba3d;
}
.calculator-theme-10 .calc-button-row button.calc-ac:hover,
.calculator-theme-10 button.calc-button.last-entity-clear:hover {
  color: #fff;
}
.calculator-theme-10 .calc-screen {
  background: #404546;
  box-shadow: rgb(0 0 0 / 45%) 0px 25px 20px -20px;
}
.calculator-theme-10 .calc-button-row button {
  background: #ffffff;
  color: #69757b;
  border-color: #fbfbfb;
}
.calculator-theme-10 .calc-button-row {
  margin: 25px 5px;
}
/*default options*/

.calc-body {
  width: 350px;
  margin: auto;
  min-height: 380px;
  padding: 5px;
}
.calc-screen {
  padding: 0;
  border-radius: 0;
  margin: 10px;
}
#calc-operation,
#calc-typed {
  text-align: right;
  word-break: break-all;
}
#calc-operation {
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  min-height: 25%;
}
#calc-typed {
  font-size: 2rem;
  min-height: 40px;
}
.calc-button-row {
  display: table;
  margin: 15px 5px;
}
.calc-button-row button {
  display: table-cell;
  width: 25%;
  height: 60px;
  font-size: 1.3rem;
  border: 0;
  border-width: 4px;
  font-weight: 600;
  cursor: pointer;
  border-style: solid;
}
.calc-button-row button:active {
  position: relative;
  top: 1px;
}
button.calc-opt.calc-button.equal {
  width: 25%;
}
.temp-result {
  height: 20px;
}
/* CSS for button container */
.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; /* Add margin as needed */
}

/* CSS for individual buttons */
.previous-button {
  padding: 8px 10px;
  background-color: #197e7eb3; /* Button background color */
  color: #fff; /* Text color */
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.previous-button:hover {
  background-color: #0c5050b3;
}
.next-button {
  padding: 8px 10px;
  background-color: #197e7eb3; /* Button background color */
  color: #fff; /* Text color */
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.next-button:hover {
  background-color: #0c5050b3;
}
.adv-button {
  background: #df960f !important;
  color: #eae0e0 !important;
}
.adv-button:hover {
  background: rgb(178, 114, 59) !important;
  color: white !important;
}
.memory-history-table {
  background-color: #f8f3f300;
}
.border {
  border: 2px solid hsl(0, 0%, 100%); /* Set the border width and color */
  box-shadow: 0px 0px 5px #fffefef4; /* Add a shadow effect */
}
.operator:hover {
  background-color: #6b7071 !important;
}
tr td,
tr th {
  padding: 4px 9px;
  text-align: left;
  border: 1px solid #fff;
}
.memory-history-table {
  background-color: rgba(248, 243, 243, 0);
}
table {
  width: 100%;
  margin: 10px 0;
  border-spacing: 0;
  border: 0;
  border-collapse: collapse;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: 0.857em;
}
table {
  display: table;
  /* border-collapse: separate; */
  box-sizing: border-box;
  text-indent: initial;
  /* border-spacing: 2px;
  border-color: gray; */
}
thead {
  display: table-header-group;
  vertical-align: middle;
  background-color: #72767742;
  color: white;
}
