<div class="calculator-theme-{{ content.layout }}">
    <div class="calc-body">
        <div class="calculator-container">
            <div class="calc-screen ">
            <div class="border">
                <div id="calc-operation" class="display-1 ">0</div>
                <div id="calc-typed" class="display-2 ">0</div>
                <div class="temp-result "></div>
           </div>
            <table class="memory-history-table">
                <thead>
                    <tr>
                        <th>Calculation</th>
                        <th>Date</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Memory history rows will be dynamically added here -->
                </tbody>
            </table>
						</div>
						<div class="pagination-container">
            <button class="previous-button">Previous</button>
            <button class="next-button">Next</button>
           </div>
        </div>
        <div class="memory-history"></div> <!-- Memory history container -->
        <div class="calc-button-row">
            <button class="calc-ac all-clear adv-button">AC</button>
            <button class="calc-button last-entity-clear adv-button">CM</button>
            <button class="calc-button delete adv-button">Del</button>
            <button class="calc-opt calc-button equal adv-button">=</button>
            <button class="calc-opt calc-button operation operator">+</button>
            <button class="calc-button number">7</button>
            <button class="calc-button number">8</button>
            <button class="calc-button number">9</button>
           <button class="calc-opt calc-button operation operator">-</button> 
            <button class="calc-button number">4</button>
            <button class="calc-button number">5</button>
            <button class="calc-button number">6</button>
            <button class="calc-opt calc-button operation operator">x</button>
            <button class="calc-button number">3</button>
            <button class="calc-button number">2</button>
            <button class="calc-button number">1</button>
            <button class="calc-opt calc-button operation operator">/</button>
            <button class="calc-opt calc-button operation operator">%</button>
             <button class="calc-button number dot">.</button>
            <button class="calc-button number">0</button>
            <div class="result-value"></div>

						
        </div>
    </div>
</div>
